spring:
  application:
    name: erp
  datasource:
    url: jdbc:postgresql://localhost:5432/gastro_erp
    username: gastro
    password: gastro
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  flyway:
    enabled: true
    locations: classpath:db/migration
